[Unit]
Description=Timer to stop Market Notifier at 16:00 IST on weekdays (GCE)

[Timer]
OnCalendar=Mon..Fri 16:00:00
Persistent=true

[Install]
WantedBy=timers.target
