[Unit]
Description=Start Market Notifier Docker container (GCE)
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/market-notifier
ExecStart=/opt/market-notifier/start.sh
TimeoutStartSec=300
RemainAfterExit=yes
